.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}

.custom-file-input::before {
  content: 'Pilih File';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin-left: 5px;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-file-label {
  font-size: 12px;
  
}

.img-resource{
    width: 100px;
    height: 100px;
}